.swiper-wrapper > div
{
	cursor: pointer;
}
.pagemovespan > span
{
	background-color : red;
	height: 100px;
	width: 100px;
}
.mainlocal > td
{
	text-align: center;
	
}
.mainlocaltd
{
	background-color : white;
	border-color: solid 1px #eeeeee;
}
#keyword 
{
  text-transform: uppercase;
  font-size: 20px;
  
  text-decoration: none;
  position: relative;
  display: block;
}
#keyword:hover
 {
  -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
       -o-transform: scale(1.05);
          transform: scale(1.05);  
}

#keyword  {
  -webkit-transition: all 0.1s linear;
          transition: all 0.1s linear;
}
